<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.web.blog.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.yjh.web.blog.domain.Blog">
        <id property="id" column="id"/>
        <result property="appreciation" column="appreciation"/>
        <result property="commentabled" column="commentabled"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="description" column="description"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="flag" column="flag"/>
        <result property="shareStatement" column="share_statement"/>
        <result property="recommend" column="recommend"/>
        <result property="published" column="published"/>
        <result property="title" column="title"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="typeId" column="type_id"/>
        <result property="userId" column="user_id"/>
        <association property="type" javaType="com.yjh.web.blog.domain.Type">
            <result column="id" property="id"/>
            <result column="typeName" property="name"/>
        </association>
        <association property="user" javaType="com.yjh.web.blog.domain.User">
            <result column="nickname" property="nickname"/>
            <result column="avatar" property="avatar"/>
        </association>
        <collection property="tags" javaType="list" ofType="com.yjh.web.blog.domain.Tag">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <select id="listBlogs" resultMap="BaseResultMap">
        select a.id,
               a.appreciation,
               a.commentabled,
               a.content,
               a.create_time,
               a.description,
               a.first_picture,
               a.flag,
               a.share_statement,
               a.recommend,
               a.published,
               a.title,
               a.update_time,
               a.views,
               a.type_id,
               a.user_id,
               c.name as typeName,
               c.id,
               d.name as tagName,
               e.nickname,
               e.avatar
        from t_blog a
                     left join t_blog_tags b on a.id = b.blogs_id
                     left join t_tag d on b.tags_id = d.id
                     left join t_type c on a.type_id = c.id
                     left join t_user e on a.user_id = e.id
        <where>
            a.del_flag = '0'
            <if test="title != null and title != ''">
                <bind name="titleTemp" value="'%' + title + '%'"/>
                and a.title like #{titleTemp,jdbcType=VARCHAR}
            </if>
            <if test="typeId != null">
                and a.type_id = #{typeId,jdbcType=BIGINT}
            </if>
            <if test="recommend != null and recommend != ''">
                and a.recommend = #{recommend,jdbcType=VARCHAR}
            </if>
            <if test="query != null and query != ''">
                <bind name="queryTemp" value="'%' + query + '%'"/>
                and (a.title like #{queryTemp,jdbcType=VARCHAR} or a.content like #{queryTemp,jdbcType=VARCHAR})
            </if>
        </where>
        order by a.create_time
    </select>

    <select id="listBlogsByTagId" resultMap="BaseResultMap">
        select a.id,
               a.appreciation,
               a.commentabled,
               a.content,
               a.create_time,
               a.description,
               a.first_picture,
               a.flag,
               a.share_statement,
               a.recommend,
               a.published,
               a.title,
               a.update_time,
               a.views,
               a.type_id,
               a.user_id,
               c.name as typeName,
               c.id,
               d.avatar,
               d.nickname,
               f.name,
               f.id
        from t_blog a
                     left join t_blog_tags b on a.id = b.blogs_id
                     left join t_type c on a.type_id = c.id
                     left join t_user d on a.user_id = d.id
                     left join t_blog_tags e on a.id = e.blogs_id
                     left join t_tag f on e.tags_id = f.id
        where b.tags_id = #{tagsId,jdbcType=BIGINT}
    </select>

    <select id="getBlogById" resultMap="BaseResultMap">
        select a.id,
               a.appreciation,
               a.commentabled,
               a.content,
               a.create_time,
               a.description,
               a.first_picture,
               a.flag,
               a.share_statement,
               a.recommend,
               a.published,
               a.title,
               a.update_time,
               a.views,
               a.type_id,
               a.user_id,
               c.name as typeName,
               c.id,
               d.name as tagName,
               e.nickname,
               e.avatar
        from t_blog a
                     left join t_blog_tags b on a.id = b.blogs_id
                     left join t_tag d on b.tags_id = d.id
                     left join t_type c on a.type_id = c.id
                     left join t_user e on a.user_id = e.id
        where a.id = #{id,jdbcType=BIGINT}
    </select>
</mapper>

