<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YJH个人博客登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        YJH个人博客登录
                    </div>
                </h2>
                <!--联系-->
                <div class="ui attached bottom segment center aligned">
<!--                    <a title="Github开源地址" th:href="@{/auth/login/github}"-->
<!--                       class="ui icon circular button">-->
<!--                        <i class="github icon"></i>-->
<!--                    </a>-->

                    <a  title="百度" th:href="@{/auth/login/baidu}"
                       class="ui icon circular button">
                        <i class="bitcoin icon"></i>
                    </a>

                    <a target="_blank" title="微博主页" href="https://weibo.com/7510528502/profile"
                       class="ui icon circular button">
                        <i class="weibo icon"></i>
                    </a>

                    <a target="_blank" title="steam主页" href="https://steamcommunity.com/profiles/76561198446690218/"
                       class="ui icon circular button">
                        <i class="steam icon"></i>
                    </a>
                    <a href="#" th:href="@{/}" class="href"><h3>返回首页</h3></a>

                </div>
            </div>
        </div>
    </div>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.ui.form').form({
            fields: {
                username: {
                    identifier: 'username',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入用户名'
                    }]
                },
                password: {
                    identifier: 'password',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入密码'
                    }]
                }
            }
        });
    </script>

</body>
</html>
